body {
  font-family: system-ui, sans-serif;
  background-color: #111;
  color: #eee;
  margin: 2rem;
}

h1,
h2 {
  color: #a78bfa;
}

.table-container {
  max-height: 500px;
  overflow-y: auto;
  border: 1px solid #333;
  margin-top: 1rem;
}

table {
  width: 100%;
  border-collapse: collapse;
}

th,
td {
  border-bottom: 1px solid #333;
  padding: 8px;
  text-align: left;
}

th {
  background: #222;
  position: sticky;
  top: 0;
}

button {
  background-color: #6d28d9;
  border: none;
  color: white;
  padding: 5px 12px;
  margin: 0 5px;
  cursor: pointer;
  border-radius: 6px;
}

button:disabled {
  opacity: 0.4;
  cursor: not-allowed;
}

.stats-box {
  background: #1f1f1f;
  border: 1px solid #333;
  padding: 10px;
  margin-bottom: 10px;
  border-radius: 8px;
}

.search-controls {
  margin-bottom: 10px;
  display: flex;
  gap: 10px;
}

input {
  padding: 5px;
  border: 1px solid #333;
  border-radius: 4px;
  background: #1a1a1a;
  color: #eee;
  width: 200px;
}

#verifiedCheckbox {
  width: 20px;
}

#sortSelect {
  margin-left: 50px;
}

.pager {
  margin-top: 10px;
}

.chart-container {
  background: #1a1a1a;
  border: 1px solid #333;
  padding: 15px;
  border-radius: 10px;
  margin-bottom: 20px;
  width: 1000px;
  height: 500px;
}

#chartCon {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}

#reviewsTable img {
  border-radius: 8px;
  max-width: 60px;
  max-height: 60px;
  display: block;
  margin: auto;
}
#reviewsTable td a {
  color: #a78bfa;
  text-decoration: none;
}
#reviewsTable td a:hover {
  text-decoration: underline;
}
